<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.erp.finance.sales.model.vo.Sales" alias="Sales" />
		 <typeAlias type="com.kh.erp.notice.model.vo.Notice" alias="Notice"/>
		 <typeAlias type="com.kh.erp.notice.model.vo.Attachment" alias="Attachment"/>
		 <typeAlias type="com.kh.erp.board.model.vo.Board" alias="Board"/>
		 <typeAlias type="com.kh.erp.board.model.vo.BoardFile" alias="BoardFile"/>
		 <typeAlias type="com.kh.erp.boardComment.model.vo.BoardComment" alias="boardcomment"/>
   		 <typeAlias type="com.kh.erp.finance.purchase.model.vo.Purchase" alias="Purchase" />
		 <typeAlias type="com.kh.erp.member.model.vo.Member" alias="Member"/>
		 <typeAlias type="com.kh.erp.employee.model.vo.Employee" alias="Employee"/>		 
		 <typeAlias type="com.kh.erp.schedule.model.vo.Schedule" alias="Schedule"/>
		 <typeAlias type="com.kh.erp.inventory.model.vo.Inventory" alias="Inventory" />
	</typeAliases>
	

	
</configuration>










