<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">
	
	<select id="selectEmpList" parameterType="Employee" resultType="Employee">
		SELECT * FROM EMPLOYEE
	</select>
	
	<insert id="insertEmp" parameterType="Employee">
		INSERT INTO EMPLOYEE
		VALUES (SEQ_EMPNO.NEXTVAL, #{userNo}, #{jobCode}, #{name}, #{phone}, #{age},
				#{email}, #{gender}, #{salary}, #{status}, #{hireDate}, #{leaveDate}, #{accountNo})
	</insert>
	
	<delete id="deleteEmp" parameterType="Employee">
		DELETE FROM EMPLOYEE
		WHERE EMPNO = #{empNo}
	</delete>
	
	<update id="updateEmp" parameterType="Employee">
		UPDATE EMPLOYEE
		
		<set>
		EMPNO= #{empNo},
		USERNO = #{userNo},
		JOBCODE = #{jobCode},
		NAME = #{name}, 
		PHONE =  #{phone},
		EMAIL = #{email},
		SALARY = #{salary},
		STATUS = #{status},
		HIREDATE = #{hireDate},
		LEAVEDATE = #{leaveDate},
		ACCOUNTNO = #{accountNo}
		</set>
		
		WHERE EMPNO = #{empNo}
	</update>
</mapper>










