<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="insertinventoryMapper">

  
 <!--  <insert id="insertInventory" parameterType="Inventory">
  INSERT INTO inventory
  VALUES(#{productNo}, #{userNo}, #{itemcode}, #{product}, 
  #{unitprice}, #{origin}, 
  #{expirationdate}, #{note}, #{inventorytypeHandler=Str2ArrayHandler})
  
  </insert> -->
  
  
  <select id="selectInsertInventory" parameterType="InsertInventory" resultType="InsertInventory">
  
 	SELECT*FROM ITEM2
    WHERE USERNO = #{userNo}
  
  </select>
  
 <insert id="insertInventory" parameterType="InsertInventory" >
  INSERT INTO ITEM2
  VALUES(#{productNo}, #{product}, #{userNo})
 </insert>
  
  <delete id="deleteinsertInventory" parameterType="InsertInventory">
  
  DELETE FROM ITEM2
  WHERE PRODUCTNO = #{productNo}
  AND USERNO = #{userNo}
  </delete>
  
  <update id="updateinsertInventory" parameterType="InsertInventory">
  
   UPDATE ITEM2
   <set>
  PRODUCTNO= #{productNo},
  PRODUCT = #{product}, 
   
   </set>
   WHERE PRODUCTNO = #{productNo}
   AND USERNO = #{userNo}
  </update>
  
 
</mapper>










