<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inventoryMapper">

  
 <!--  <insert id="insertInventory" parameterType="Inventory">
  INSERT INTO inventory
  VALUES(#{productNo}, #{userNo}, #{itemcode}, #{product}, 
  #{unitprice}, #{origin}, 
  #{expirationdate}, #{note}, #{inventorytypeHandler=Str2ArrayHandler})
  
  </insert> -->
  
  
  <select id="selectInventory" parameterType="Inventory" resultType="Inventory">
  
 	SELECT II.PRODUCTNO, IV.USERNO, II.PRODUCT, I.ITEMNAME ITEMNAME, II.PRODUCT, IV.QUANTITY, IV.UNITPRICE, IV.ORIGIN, IV.EXPIRATIONDATE, IV.NOTE, 
 			IV.INVENTORYNO 
	  FROM INVENTORY IV 
	  JOIN ITEM I ON (IV.ITEMCODE = I.ITEMCODE)
	  JOIN ITEM2 II ON (IV.PRODUCT = II.PRODUCT)
	  WHERE IV.USERNO = #{userNo} AND IV.PRODUCT = II.PRODUCT
	  
  
  </select>
  
  
  <!-- <select id="selectInventory" parameterType="Inventory" resultType="Inventory">
  
 	SELECT * FROM INVENTORY
 	WHERE USERNO = #{userNo}
  
  </select> -->
  
 <insert id="insertInventory" parameterType="Inventory" >
  INSERT INTO INVENTORY
  VALUES(#{userNo}, #{itemcode},
  #{quantity},#{unitprice}, #{origin}, 
  #{expirationdate},#{note}, #{product}, SEQ_INVENTORY.NEXTVAL)
  

  </insert>
  
  <delete id="deleteInventory" parameterType="_int">
  
  DELETE FROM INVENTORY
  WHERE INVENTORYNO = #{inventoryNo}
  </delete>
  
  <update id="updateInventory" parameterType="Inventory">
  
   UPDATE INVENTORY 
   <set>
  USERNO = #{userNo},
  ITEMCODE = #{itemcode},
  PRODUCT = #{product}, 
  QUANTITY =  #{quantity},
  UNITPRICE = #{unitprice},
  ORIGIN = #{origin},
  EXPIRATIONDATE = #{expirationdate},
  NOTE = #{note}
   
   </set>
   WHERE INVENTORYNO = #{inventoryNo}
  </update>
  
 
</mapper>










