<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PurchaseMapper">
	
	<select id="selectPurList" resultType="Purchase">
		SELECT * FROM PURCHASE
		WHERE USERNO = #{userNo}
	</select>
	
	<insert id="insertPurList" parameterType="Purchase">
		INSERT INTO PURCHASE
		VALUES(#{productNo}, #{businessCode}, #{userNo}, 
		#{itemCode}, #{product}, #{quantity}, #{price}, #{origin}, #{day}, SEQ_PURCHASENO.NEXTVAL)
	</insert>
	
	<update id="updatePurList" parameterType="Purchase">
		UPDATE PURCHASE
		<set>
		ITEMCODE = #{itemCode},
		BUSINESSCODE = #{businessCode},
		ORIGIN = #{origin},
		PRODUCT = #{product},
		PRICE = #{price},
		QUANTITY = #{quantity} 
		</set>
		WHERE PRODUCTNO = #{productNo}
	</update>
	
	<delete id="deletePurList" parameterType="_int">
		DELETE FROM PURCHASE
		WHERE PURCHASENO = #{purchaseNo}
	</delete>
	
	<select id="purchasePrice" parameterType="string" resultType="_int">
		SELECT SUM(PRICE * QUANTITY)
		FROM PURCHASE
		WHERE USERNO = (SELECT USERNO FROM MEMBER WHERE USERID = #{userId})
	</select>
	
	<select id="purchaseMonthPrice"  resultType="string">
		SELECT TO_CHAR(SUM(PRICE * QUANTITY), '999,999,999,999,999') 
		FROM PURCHASE
		JOIN MEMBER USING(USERNO)
		WHERE DAY LIKE (SELECT TO_CHAR(SYSDATE, 'YY') FROM DUAL) || '%'
          AND DAY LIKE '%' || (SELECT TO_CHAR(SYSDATE, 'MM') FROM DUAL) || '%'
          AND USERNO = #{userNo}
	</select>
	
	<select id="selectOnePurchase" resultType="Purchase">
	SELECT * FROM PURCHASE
	WHERE PURCHASENO=#{purchaseNo}
	</select>
	
</mapper>










