<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PurchaseMapper">
	
	<select id="selectPurList" resultType="Purchase">
		SELECT * FROM PURCHASE
		WHERE USERNO = #{userNo}
	</select>
	
	<insert id="insertPurList" parameterType="Purchase">
		INSERT INTO PURCHASE
		VALUES(PURCHASE_PRODUCTNO.NEXTVAL, #{businessCode}, #{userNo}, 
		#{itemCode}, #{product}, #{quantity}, #{price}, #{origin}, #{day})
	</insert>
	
	<update id="updatePurList" parameterType="Purchase">
		UPDATE PURCHASE
		<set>
		ITEMCODE = #{itemCode},
		BUSINESSCODE = #{businessCode},
		ORIGIN = #{origin},
		PRODUCT = #{product},
		PRICE = #{price},
		QUANTITY = #{quantity} 
		</set>
		WHERE PRODUCTNO = #{productNo}
	</update>
	
	<delete id="deletePurList" parameterType="Purchase">
		DELETE FROM PURCHASE
		WHERE PRODUCTNO = #{productNo}
	</delete>
	
	<select id="purchasePrice" parameterType="string" resultType="_int">
		SELECT SUM(PRICE * QUANTITY)
		FROM PURCHASE
		WHERE USERNO = (SELECT USERNO FROM MEMBER WHERE USERID = #{userId})
	</select>
</mapper>










