<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scheduleMapper">
	
	<insert id="insertSchedule" parameterType="Schedule">
		INSERT INTO SCHEDULE
		VALUES(#{userNo}, SEQ_SNO.NEXTVAL, #{allDay}, #{title}, #{startDate}, #{endDate}, #{color}, #{content})
	</insert>
	
	<select id="selectScheduleList" parameterType="Schedule" resultType="Schedule">
		SELECT * FROM SCHEDULE
	</select>
	
	<select id="selectListSchedule" parameterType="_int" resultType="Schedule">
		SELECT * FROM SCHEDULE
		WHERE USERNO = #{userNo}
	</select>
	
	<select id="selectOneSchedule" parameterType="_int" resultType="Schedule">
		SELECT * FROM SCHEDULE
		WHERE SCHEDULENO= #{scheduleNo}
	</select>
	
	<update id="updateSchedule" parameterType="Schedule">
		UPDATE SCHEDULE 
		<set>
		ALLDAY = #{allDay},
		TITLE = #{title},
		STARTDATE = #{startDate},
		ENDDATE = #{endDate},
		COLOR = #{color},
		CONTENT = #{content}
		</set>
		WHERE SCHEDULENO = #{scheduleNo}			
	</update>
	
	<delete id="deleteSchedule">
		DELETE FROM SCHEDULE
		WHERE SCHEDULENO = #{scheduleNo}
	</delete>
	
	
</mapper>










